.project {
  &__title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--small-padding);
  }

  &__icons {
    display: flex;
    flex-direction: column;
  
  }

  &__video {
    cursor: pointer;

    & > * {
      margin-top: var(--small-padding);
    }
  }

  &__button {
      margin-top: var(--small-padding);
  }

  &__button > *:not(:last-child) {
    margin-right:var(--small-padding);
 
  }

  &__description {
    margin-top: var(--small-padding);
    margin-bottom: var(--small-padding);
  }
}
.video {
  display: grid;
  gap: var(--small-padding);
  position: relative;
}


@media only screen and (min-width: 25rem) {
  .project__icons {

    flex-direction: row;
  justify-content: space-between;
  }
  
}


 

