.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.947);
  z-index: 1500;
  height: 200vh;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
 align-items: center;
 transform:  translateY(-10%);

  &__content {
    position: absolute;
    width: 70%;
    height: auto;
    background: linear-gradient(to right, rgba(11, 66, 105, 0.26), rgba(104, 37, 101, 0.211)) ;
   
    border-radius:2rem;
    color: white;
    padding:var(--small-padding);

    & h5 {
       color: var(--primary-text-color);
         font-family: "Playfair Display", serif;
         font-weight: 500;
         margin-top: var(--small-padding);
    }

    & p {
      color:var(--secondary-text-color);
    }
   
  }
  


}

.popup {
    &__img{
        width: 100%;
        margin-top: var(--small-padding);
    }
}

.translate, .translate-long {
  transform: translateY(30%);
}




@media only screen and (min-width: 60rem) {
  .modal__content {
    padding: var(--standard-padding);
  }
}